.App {
  text-align: center;
}

.Header {
  background-color: white;
  height: 70px;
}

.container {
  margin-top: 0;
  padding: 0;
}

.items {
  text-align: center;
  margin-top: 20px;
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.mainnav {
	font-family: 'Radley', serif;
	font-size: 30px;
	color: grey;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 500px) {
	.mainnav {
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 720px) and (min-width: 501px) {
	.mainnav {
		font-size: 18px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 1200px) and (min-width: 719px) {
	.mainnav {
		font-size: 26px;
		padding-left: 20px;
		padding-right: 20px;
	}
}