#skill-list {
	font-family: 'Lora', serif;
	height: 60vh;
	width: 70%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-left: 2px dotted black;
	border-right: 2px dotted black;
	border-bottom: 5px solid black;
	margin: 0 auto;
}

h5 {
	text-decoration: underline;
	font-weight: bold;
}